<footer class="footer">
  <div class="container">
    <p class="text-muted"><a href="https://github.com/gittrname">© 2018 gittrname.</a></p>
    <p class="text-muted"><a href="https://github.com/gittrname/server-status">Github.com</a></p>
  </div>
</footer>
